.topLabel{
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 2.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    height: 66px;
    width: 176px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1rem;
    background-color: #7455C1;
    color: white;
    border: none;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    font-weight: bold;
}

.description{
    color: gray;
}

form{
    margin-top: 3rem;
}

input{
    width: 335px;
    height: 46px;
    margin-bottom: 2rem;
    box-sizing: border-box;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 1.2rem;
}